{% extends 'base.html.twig' %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block body %}
    <h2>{{ item.title }}</h2>
    {% if item is defined and item|length %}
        <dl>
            <dt>Content</dt>
            <dd>{{ item.content }}</dd>
            <dt>Ingredients</dt>
            <dt>Tags</dt>
            <dd>{{ item.tags|join(', ') }}</dd>
        </dl>
        <p>
            <a href="{{ absolute_url(' ') }}">back to records list</a>
        </p>
    {% else %}
        <p>
            Record not found.
        </p>
    {% endif %}
{% endblock %}