{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_recipe_details'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_recipe_details'|trans({'%id%': recipe.id|default('')}) }}</h1>
    {% if recipe is defined and recipe|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ recipe.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ recipe.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  recipe.title }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{  recipe.description }}</dd>
        </dl>
        <p>
            <a href="{{ url('recipe_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}